In [1]:
from pyspark.sql import SparkSession


spark = SparkSession.builder \
    .appName("Read Inside Airbnb data") \
    .getOrCreate()

WARNING: Using incubator modules: jdk.incubator.vector
Using Spark's default log4j profile: org/apache/spark/log4j2-defaults.properties
25/08/02 12:29:35 WARN Utils: Your hostname, Dylans-MacBook-Pro.local, resolves to a loopback address: 127.0.0.1; using 10.20.42.250 instead (on interface en0)
25/08/02 12:29:35 WARN Utils: Set SPARK_LOCAL_IP if you need to bind to another address
Using Spark's default log4j profile: org/apache/spark/log4j2-defaults.properties
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
25/08/02 12:29:36 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable

In [3]:
listings = spark.read.csv("data/listings.csv.gz",
    header=True,
    inferSchema=True,
    sep=",",
    quote='"',
    escape='"',
    multiLine=True,
    mode="PERMISSIVE"
)

In [5]:
listings.show(20)

+------+--------------------+--------------+------------+---------------+--------------------+--------------------+---------------------+--------------------+-------+--------------------+------------+----------+--------------------+--------------------+------------------+------------------+--------------------+-----------------+--------------------+--------------------+--------------------+-------------------+-------------------------+--------------------+--------------------+----------------------+--------------------+----------------------+----------------------------+------------------+--------------------+--------------------+---------------+------------+---------+----------------+--------+----+--------------------+-------+--------------+--------------+----------------------+----------------------+----------------------+----------------------+----------------------+----------------------+----------------+----------------+---------------+---------------+---------------+----------------+---------------------+-----------------+---------------------+----------------------+------------+-----------+--------------------+----------------------+-------------------------+---------------------+---------------------------+----------------------+-------------------+-------+----------------+------------------------------+-------------------------------------------+--------------------------------------------+-------------------------------------------+-----------------+
|    id|         listing_url|     scrape_id|last_scraped|         source|                name|         description|neighborhood_overview|         picture_url|host_id|            host_url|   host_name|host_since|       host_location|          host_about|host_response_time|host_response_rate|host_acceptance_rate|host_is_superhost|  host_thumbnail_url|    host_picture_url|  host_neighbourhood|host_listings_count|host_total_listings_count|  host_verifications|host_has_profile_pic|host_identity_verified|       neighbourhood|neighbourhood_cleansed|neighbourhood_group_cleansed|          latitude|           longitude|       property_type|      room_type|accommodates|bathrooms|  bathrooms_text|bedrooms|beds|           amenities|  price|minimum_nights|maximum_nights|minimum_minimum_nights|maximum_minimum_nights|minimum_maximum_nights|maximum_maximum_nights|minimum_nights_avg_ntm|maximum_nights_avg_ntm|calendar_updated|has_availability|availability_30|availability_60|availability_90|availability_365|calendar_last_scraped|number_of_reviews|number_of_reviews_ltm|number_of_reviews_l30d|first_review|last_review|review_scores_rating|review_scores_accuracy|review_scores_cleanliness|review_scores_checkin|review_scores_communication|review_scores_location|review_scores_value|license|instant_bookable|calculated_host_listings_count|calculated_host_listings_count_entire_homes|calculated_host_listings_count_private_rooms|calculated_host_listings_count_shared_rooms|reviews_per_month|
+------+--------------------+--------------+------------+---------------+--------------------+--------------------+---------------------+--------------------+-------+--------------------+------------+----------+--------------------+--------------------+------------------+------------------+--------------------+-----------------+--------------------+--------------------+--------------------+-------------------+-------------------------+--------------------+--------------------+----------------------+--------------------+----------------------+----------------------------+------------------+--------------------+--------------------+---------------+------------+---------+----------------+--------+----+--------------------+-------+--------------+--------------+----------------------+----------------------+----------------------+----------------------+----------------------+----------------------+----------------+----------------+---------------+---------------+---------------+----------------+---------------------+-----------------+---------------------+----------------------+------------+-----------+--------------------+----------------------+-------------------------+---------------------+---------------------------+----------------------+-------------------+-------+----------------+------------------------------+-------------------------------------------+--------------------------------------------+-------------------------------------------+-----------------+
| 13913|https://www.airbn...|20240906025501|  2024-09-06|    city scrape|Holiday London DB...|My bright double ...| Finsbury Park is ...|https://a0.muscac...|  54730|https://www.airbn...|       Alina|2009-11-16|London, United Ki...|I am a Multi-Medi...|    within an hour|              100%|                 77%|                t|https://a0.muscac...|https://a0.muscac...|     LB of Islington|                  3|                        4|  ['email', 'phone']|                   t|                     t|Neighborhood high...|             Islington|                        NULL|          51.56861|             -0.1127|Private room in r...|   Private room|           1|      1.0|   1 shared bath|       1|   1|["Refrigerator", ...| $59.00|             1|            29|                     1|                     1|                    29|                    29|                   1.0|                  29.0|            NULL|               t|             28|             58|             88|             363|           2024-09-06|               44|                    4|                     0|  2010-08-18| 2024-07-10|                4.82|                  4.74|                     4.74|                 4.77|                       4.84|                  4.72|               4.72|   NULL|               f|                             3|                                          2|                                           1|                                          0|             0.26|
| 15400|https://www.airbn...|20240906025501|  2024-09-07|    city scrape|Bright Chelsea  A...|Lots of windows a...|       It is Chelsea.|https://a0.muscac...|  60302|https://www.airbn...|    Philippa|2009-12-05|Royal Borough of ...|English, grandmot...|               N/A|               N/A|                100%|                f|https://a0.muscac...|https://a0.muscac...|             Chelsea|                  1|                        1|  ['email', 'phone']|                   t|                     t|Neighborhood high...|  Kensington and Ch...|                        NULL|           51.4878|            -0.16813|  Entire rental unit|Entire home/apt|           2|      1.0|          1 bath|       1|   1|["Host greets you...|$120.00|             4|            30|                     4|                     4|                    30|                    30|                   4.0|                  30.0|            NULL|               t|              0|              0|              0|             244|           2024-09-07|               96|                    2|                     0|  2009-12-21| 2024-04-28|                 4.8|                  4.86|                     4.88|                 4.88|                       4.84|                  4.93|               4.75|   NULL|               f|                             1|                                          1|                                           0|                                          0|             0.54|
| 17402|https://www.airbn...|20240906025501|  2024-09-07|    city scrape|Fab 3-Bed/2 Bath ...|You'll have a gre...| Fitzrovia is a ve...|https://a0.muscac...|  67564|https://www.airbn...|         Liz|2010-01-04|London, United Ki...|We are Liz and Ja...|    within an hour|              100%|                 94%|                t|https://a0.muscac...|https://a0.muscac...|           Fitzrovia|                  7|                       32|['email', 'phone'...|                   t|                     t|Neighborhood high...|           Westminster|                        NULL|          51.52195|            -0.14094|  Entire rental unit|Entire home/apt|           6|      2.0|         2 baths|       3|   3|["Refrigerator", ...|$493.00|             3|           365|                     3|                     3|                   365|                   365|                   3.0|                 365.0|            NULL|               t|             14|             37|             49|             285|           2024-09-07|               56|                    2|                     0|  2011-03-21| 2024-02-19|                4.77|                  4.83|                     4.72|                 4.72|                       4.72|                  4.89|               4.61|   NULL|               f|                             6|                                          6|                                           0|                                          0|             0.34|
| 24328|https://www.airbn...|20240906025501|  2024-09-07|    city scrape|Battersea live/wo...|Artist house, bri...| - Battersea is a ...|https://a0.muscac...|  41759|https://www.airbn...|         Joe|2009-09-28|London, United Ki...|I've been using A...|      within a day|              100%|                 25%|                f|https://a0.muscac...|https://a0.muscac...|           Battersea|                  1|                        3|['email', 'phone'...|                   t|                     t|Neighborhood high...|            Wandsworth|                        NULL|          51.47072|            -0.16266|    Entire townhouse|Entire home/apt|           4|      1.5|       1.5 baths|       1|   1|["BBQ grill: char...|$190.00|             2|          1125|                     2|                     2|                  1125|                  1125|                   2.0|                1125.0|            NULL|               t|              0|              0|              6|             281|           2024-09-07|               94|                    0|                     0|  2010-11-15| 2022-07-19|                 4.9|                  4.89|                     4.91|                  4.9|                       4.93|                  4.59|               4.65|   NULL|               f|                             1|                                          1|                                           0|                                          0|             0.56|
| 33332|https://www.airbn...|20240906025501|  2024-09-06|    city scrape|Beautiful Ensuite...|Walking distance ...| Peaceful and frie...|https://a0.muscac...| 144444|https://www.airbn...|     Chi-Chi|2010-06-14|Isleworth, United...|Quite busy and of...|               N/A|               N/A|                 N/A|                f|https://a0.muscac...|https://a0.muscac...|      LB of Hounslow|                  2|                        2|  ['email', 'phone']|                   t|                     f|Neighborhood high...|  Richmond upon Thames|                        NULL|           51.4641|            -0.32498|Private room in home|   Private room|           2|      1.0|  1 private bath|       1|   1|["Free street par...|$140.00|             2|            21|                     2|                     2|                    21|                    21|                   2.0|                  21.0|            NULL|               t|             30|             60|             90|             365|           2024-09-06|               19|                    0|                     0|  2010-10-16| 2022-08-01|                4.37|                  4.44|                     4.56|                 4.56|                        4.5|                  4.67|               4.22|   NULL|               f|                             2|                                          0|                                           2|                                          0|             0.11|
|116268|https://www.airbn...|20240906025501|  2024-09-06|    city scrape|Double Room (Unav...|One lovely bright...| Leafy suburban ar...|https://a0.muscac...| 586671|https://www.airbn...|         Joe|2011-05-14|London, United Ki...|Open, friendly gu...|    within an hour|              100%|                 83%|                t|https://a0.muscac...|https://a0.muscac...|       LB of Enfield|                  1|                        1|  ['email', 'phone']|                   t|                     t|Neighborhood high...|               Enfield|                        NULL|          51.61137|            -0.11888|Private room in t...|   Private room|           1|      1.0|   1 shared bath|       1|   1|["Host greets you...| $40.00|             7|           730|                     7|                     7|                   730|                   730|                   7.0|                 730.0|            NULL|               t|              1|              1|              1|             105|           2024-09-06|               38|                    1|                     0|  2013-07-06| 2024-01-01|                4.89|                  4.95|                     4.82|                  5.0|                        5.0|                  4.66|               4.87|   NULL|               f|                             1|                                          0|                                           1|                                          0|             0.28|
|117203|https://www.airbn...|20240906025501|  2024-09-07|    city scrape|A stylish Victori...|A very large and ...| For the lovers of...|https://a0.muscac...| 255103|https://www.airbn...|        Olga|2010-10-06|London, United Ki...|A writer and film...|    within an hour|              100%|                 92%|                t|https://a0.muscac...|https://a0.muscac...|         Hammersmith|                  1|                        1|['email', 'phone'...|                   t|                     t|Neighborhood high...|  Hammersmith and F...|                        NULL| 51.50155001001136| -0.2330022236049805|  Entire rental unit|Entire home/apt|           2|      1.0|          1 bath|       1|   1|["Refrigerator", ...|$131.00|             5|           100|                     5|                     5|                  1125|                  1125|                   5.0|                1125.0|            NULL|               t|              0|             16|             33|              33|           2024-09-07|               91|                   10|                     0|  2012-01-04| 2024-06-09|                4.85|                  4.88|                     4.88|                 4.82|                       4.92|                  4.54|                4.7|   NULL|               f|                             1|                                          1|                                           0|                                          0|             0.59|
|127652|https://www.airbn...|20240906025501|  2024-09-07|    city scrape|Contemporary cent...|5* rated Airbnb c...| My quiet and safe...|https://a0.muscac...| 134938|https://www.airbn...|         Ron|2010-05-30|London, United Ki...|Dear guest, I hop...|    within an hour|              100%|                 80%|                t|https://a0.muscac...|https://a0.muscac...|           Hampstead|                  2|                        3|  ['email', 'phone']|                   t|                     t|Neighborhood high...|                Camden|                        NULL|51.559528422658126| -0.1443191630608515|  Entire rental unit|Entire home/apt|           5|      1.5|       1.5 baths|       2|   3|["Host greets you...|$215.00|             5|          1125|                     5|                    90|                  1125|                  1125|                  34.5|                1125.0|            NULL|               t|              0|              0|              0|             134|           2024-09-07|              216|                    5|                     0|  2011-07-03| 2024-07-09|                4.89|                  4.85|                     4.79|                 4.97|                       4.96|                  4.83|               4.77|   NULL|               f|                             1|                                          1|                                           0|                                          0|             1.35|
|127860|https://www.airbn...|20240906025501|  2024-09-10|previous scrape|Double bedroom in...|One gorgeous, lig...| Very, very safe a...|https://a0.muscac...| 161720|https://www.airbn...|        Andy|2010-07-09|Twickenham, Unite...|My wife and I wor...|               N/A|               N/A|                 N/A|                f|https://a0.muscac...|https://a0.muscac...|                NULL|                  1|                        1|  ['email', 'phone']|                   t|                     t|Neighborhood high...|  Richmond upon Thames|                        NULL|          51.44777|            -0.33962|Private room in home|   Private room|           2|     NULL|   1 shared bath|    NULL|NULL|["Shampoo", "Iron...|   NULL|             2|            30|                     2|                     2|                    30|                    30|                   2.0|                  30.0|            NULL|               t|              0|              0|              0|               0|           2024-09-10|                0|                    0|                     0|        NULL|       NULL|                NULL|                  NULL|                     NULL|                 NULL|                       NULL|                  NULL|               NULL|   NULL|               f|                             1|                                          0|                                           1|                                          0|             NULL|
|131444|https://www.airbn...|20240906025501|  2024-09-07|    city scrape|Apartment close t...|Conveniently loca...| Kennington is a g...|https://a0.muscac...| 646165|https://www.airbn...|    Yevgeniy|2011-05-31|London, United Ki...|I live in London ...|    within an hour|              100%|                 95%|                f|https://a0.muscac...|https://a0.muscac...|             Lambeth|                  2|                        2|  ['email', 'phone']|                   t|                     t|Neighborhood high...|               Lambeth|                        NULL|51.491476077972614|-0.11151361334918049|  Entire rental unit|Entire home/apt|           3|      1.0|          1 bath|       1|   2|["Host greets you...|$150.00|            30|           600|                     2|                    30|                   600|                   600|                  28.6|                 600.0|            NULL|               t|              0|              1|              1|               6|           2024-09-07|              148|                   12|                     0|  2011-08-29| 2024-06-15|                4.78|                  4.94|                     4.81|                 4.85|                       4.97|                  4.72|               4.79|   NULL|               f|                             2|                                          2|                                           0|                                          0|             0.93|

In [8]:
for field in listings.schema:
    print(field)

StructField('id', LongType(), True)
StructField('listing_url', StringType(), True)
StructField('scrape_id', LongType(), True)
StructField('last_scraped', DateType(), True)
StructField('source', StringType(), True)
StructField('name', StringType(), True)
StructField('description', StringType(), True)
StructField('neighborhood_overview', StringType(), True)
StructField('picture_url', StringType(), True)
StructField('host_id', IntegerType(), True)
StructField('host_url', StringType(), True)
StructField('host_name', StringType(), True)
StructField('host_since', DateType(), True)
StructField('host_location', StringType(), True)
StructField('host_about', StringType(), True)
StructField('host_response_time', StringType(), True)
StructField('host_response_rate', StringType(), True)
StructField('host_acceptance_rate', StringType(), True)
StructField('host_is_superhost', StringType(), True)
StructField('host_thumbnail_url', StringType(), True)
StructField('host_picture_url', StringType(), True)
StructField('host_neighbourhood', StringType(), True)
StructField('host_listings_count', IntegerType(), True)
StructField('host_total_listings_count', IntegerType(), True)
StructField('host_verifications', StringType(), True)
StructField('host_has_profile_pic', StringType(), True)
StructField('host_identity_verified', StringType(), True)
StructField('neighbourhood', StringType(), True)
StructField('neighbourhood_cleansed', StringType(), True)
StructField('neighbourhood_group_cleansed', StringType(), True)
StructField('latitude', DoubleType(), True)
StructField('longitude', DoubleType(), True)
StructField('property_type', StringType(), True)
StructField('room_type', StringType(), True)
StructField('accommodates', IntegerType(), True)
StructField('bathrooms', DoubleType(), True)
StructField('bathrooms_text', StringType(), True)
StructField('bedrooms', IntegerType(), True)
StructField('beds', IntegerType(), True)
StructField('amenities', StringType(), True)
StructField('price', StringType(), True)
StructField('minimum_nights', IntegerType(), True)
StructField('maximum_nights', IntegerType(), True)
StructField('minimum_minimum_nights', IntegerType(), True)
StructField('maximum_minimum_nights', IntegerType(), True)
StructField('minimum_maximum_nights', IntegerType(), True)
StructField('maximum_maximum_nights', IntegerType(), True)
StructField('minimum_nights_avg_ntm', DoubleType(), True)
StructField('maximum_nights_avg_ntm', DoubleType(), True)
StructField('calendar_updated', StringType(), True)
StructField('has_availability', StringType(), True)
StructField('availability_30', IntegerType(), True)
StructField('availability_60', IntegerType(), True)
StructField('availability_90', IntegerType(), True)
StructField('availability_365', IntegerType(), True)
StructField('calendar_last_scraped', DateType(), True)
StructField('number_of_reviews', IntegerType(), True)
StructField('number_of_reviews_ltm', IntegerType(), True)
StructField('number_of_reviews_l30d', IntegerType(), True)
StructField('first_review', DateType(), True)
StructField('last_review', DateType(), True)
StructField('review_scores_rating', DoubleType(), True)
StructField('review_scores_accuracy', DoubleType(), True)
StructField('review_scores_cleanliness', DoubleType(), True)
StructField('review_scores_checkin', DoubleType(), True)
StructField('review_scores_communication', DoubleType(), True)
StructField('review_scores_location', DoubleType(), True)
StructField('review_scores_value', DoubleType(), True)
StructField('license', StringType(), True)
StructField('instant_bookable', StringType(), True)
StructField('calculated_host_listings_count', IntegerType(), True)
StructField('calculated_host_listings_count_entire_homes', IntegerType(), True)
StructField('calculated_host_listings_count_private_rooms', IntegerType(), True)
StructField('calculated_host_listings_count_shared_rooms', IntegerType(), True)
StructField('reviews_per_month', DoubleType(), True)

In [9]:
neighbourhoods = listings.select(listings.neighbourhood_cleansed)
neighbourhoods.show(20)

+----------------------+
|neighbourhood_cleansed|
+----------------------+
|             Islington|
|  Kensington and Ch...|
|           Westminster|
|            Wandsworth|
|  Richmond upon Thames|
|               Enfield|
|  Hammersmith and F...|
|                Camden|
|  Richmond upon Thames|
|               Lambeth|
|        City of London|
|                Camden|
|         Tower Hamlets|
|  Richmond upon Thames|
|              Haringey|
|  Hammersmith and F...|
|              Haringey|
|             Southwark|
|           Westminster|
|                Barnet|
+----------------------+
only showing top 20 rows

In [10]:
neighbourhoods = listings.select(listings.neighbourhood_cleansed.alias("neighbourhood"))
neighbourhoods.show(20, truncate=False)

+----------------------+
|neighbourhood         |
+----------------------+
|Islington             |
|Kensington and Chelsea|
|Westminster           |
|Wandsworth            |
|Richmond upon Thames  |
|Enfield               |
|Hammersmith and Fulham|
|Camden                |
|Richmond upon Thames  |
|Lambeth               |
|City of London        |
|Camden                |
|Tower Hamlets         |
|Richmond upon Thames  |
|Haringey              |
|Hammersmith and Fulham|
|Haringey              |
|Southwark             |
|Westminster           |
|Barnet                |
+----------------------+
only showing top 20 rows

In [11]:
review_locations = listings.select(listings.review_scores_location)
review_locations.show()

+----------------------+
|review_scores_location|
+----------------------+
|                  4.72|
|                  4.93|
|                  4.89|
|                  4.59|
|                  4.67|
|                  4.66|
|                  4.54|
|                  4.83|
|                  NULL|
|                  4.72|
|                  4.92|
|                  4.88|
|                  4.83|
|                  4.89|
|                  4.77|
|                  4.79|
|                   5.0|
|                  4.76|
|                   4.5|
|                  4.64|
+----------------------+
only showing top 20 rows

In [12]:
listings \
  .select(listings.review_scores_location) \
  .show()

+----------------------+
|review_scores_location|
+----------------------+
|                  4.72|
|                  4.93|
|                  4.89|
|                  4.59|
|                  4.67|
|                  4.66|
|                  4.54|
|                  4.83|
|                  NULL|
|                  4.72|
|                  4.92|
|                  4.88|
|                  4.83|
|                  4.89|
|                  4.77|
|                  4.79|
|                   5.0|
|                  4.76|
|                   4.5|
|                  4.64|
+----------------------+
only showing top 20 rows

In [13]:
high_score_listings = listings \
  .filter(listings.review_scores_location > 4.5) \
  .select('id', 'price', 'name', 'review_scores_location')

high_score_listings.show(20, truncate=False)

+------+-------+--------------------------------------------------+----------------------+
|id    |price  |name                                              |review_scores_location|
+------+-------+--------------------------------------------------+----------------------+
|13913 |$59.00 |Holiday London DB Room Let-on going               |4.72                  |
|15400 |$120.00|Bright Chelsea  Apartment. Chelsea!               |4.93                  |
|17402 |$493.00|Fab 3-Bed/2 Bath & Wifi: Trendy W1                |4.89                  |
|24328 |$190.00|Battersea live/work artist house, garden & parking|4.59                  |
|33332 |$140.00|Beautiful Ensuite Richmond-upon-Thames borough    |4.67                  |
|116268|$40.00 |Double Room (Unavailable for check in 31Dec-1Jan) |4.66                  |
|117203|$131.00|A stylish Victorian home in West London           |4.54                  |
|127652|$215.00|Contemporary central London apt                   |4.83                  |
|131444|$150.00|Apartment close to centre.                        |4.72                  |
|137581|$145.00|I Bedroom flat Tower of London                    |4.92                  |
|137907|NULL   |Elegant Very Central: Fitzrovia W1. King Bed, Wifi|4.88                  |
|36274 |$109.00|Bright 1 bedroom off brick land                   |4.83                  |
|36299 |$245.00|Kew Gardens 3BR house in cul-de-sac               |4.89                  |
|36660 |$82.00 |You are GUARANTEED to love this                   |4.77                  |
|38610 |$289.00|CHARMING FAMILY HOME                              |4.79                  |
|38950 |$55.00 |Room 1 Large Double Bedroom - front ground floor  |5.0                   |
|38995 |$55.00 |SPACIOUS ROOM IN CONTEMPORARY STYLE FLAT          |4.76                  |
|41445 |$120.00|2 Double bed apartment in quiet area North London |4.64                  |
|142117|$180.00|Stylish & Bright, 1 Bed, Shoreditch               |4.82                  |
|145612|$37.00 |West London-W7, Hanwell(Area Ealing) Room (Female)|4.64                  |
+------+-------+--------------------------------------------------+----------------------+
only showing top 20 rows

In [14]:
high_score_listings.dropna().show(20, truncate=False)

+------+-------+--------------------------------------------------+----------------------+
|id    |price  |name                                              |review_scores_location|
+------+-------+--------------------------------------------------+----------------------+
|13913 |$59.00 |Holiday London DB Room Let-on going               |4.72                  |
|15400 |$120.00|Bright Chelsea  Apartment. Chelsea!               |4.93                  |
|17402 |$493.00|Fab 3-Bed/2 Bath & Wifi: Trendy W1                |4.89                  |
|24328 |$190.00|Battersea live/work artist house, garden & parking|4.59                  |
|33332 |$140.00|Beautiful Ensuite Richmond-upon-Thames borough    |4.67                  |
|116268|$40.00 |Double Room (Unavailable for check in 31Dec-1Jan) |4.66                  |
|117203|$131.00|A stylish Victorian home in West London           |4.54                  |
|127652|$215.00|Contemporary central London apt                   |4.83                  |
|131444|$150.00|Apartment close to centre.                        |4.72                  |
|137581|$145.00|I Bedroom flat Tower of London                    |4.92                  |
|36274 |$109.00|Bright 1 bedroom off brick land                   |4.83                  |
|36299 |$245.00|Kew Gardens 3BR house in cul-de-sac               |4.89                  |
|36660 |$82.00 |You are GUARANTEED to love this                   |4.77                  |
|38610 |$289.00|CHARMING FAMILY HOME                              |4.79                  |
|38950 |$55.00 |Room 1 Large Double Bedroom - front ground floor  |5.0                   |
|38995 |$55.00 |SPACIOUS ROOM IN CONTEMPORARY STYLE FLAT          |4.76                  |
|41445 |$120.00|2 Double bed apartment in quiet area North London |4.64                  |
|142117|$180.00|Stylish & Bright, 1 Bed, Shoreditch               |4.82                  |
|145612|$37.00 |West London-W7, Hanwell(Area Ealing) Room (Female)|4.64                  |
|157714|$69.00 |West London,loft ensuite, 5min2tube               |4.75                  |
+------+-------+--------------------------------------------------+----------------------+
only showing top 20 rows

In [15]:
high_score_listings.schema['price']

StructField('price', StringType(), True)

In [16]:
from pyspark.sql.functions import regexp_replace

price_num_df = listings \
  .withColumn('price_num', regexp_replace('price', '[$,]', '').cast('float')) \

price_num_df.schema['price_num']

StructField('price_num', FloatType(), True)

In [43]:
price_num_df.select('price_num', 'name').where('price_num < 100').show(10, truncate=False)

+---------+--------------------------------------------------+
|price_num|name                                              |
+---------+--------------------------------------------------+
|59.0     |Holiday London DB Room Let-on going               |
|40.0     |Double Room (Unavailable for check in 31Dec-1Jan) |
|82.0     |You are GUARANTEED to love this                   |
|55.0     |Room 1 Large Double Bedroom - front ground floor  |
|55.0     |SPACIOUS ROOM IN CONTEMPORARY STYLE FLAT          |
|37.0     |West London-W7, Hanwell(Area Ealing) Room (Female)|
|69.0     |West London,loft ensuite, 5min2tube               |
|55.0     |A double Room 5mins from King's College Hospital  |
|94.0     |Charming Flat in Notting Hill                     |
|86.0     |Room with a view, shared flat,  central  Bankside |
+---------+--------------------------------------------------+
only showing top 10 rows

In [18]:
price_num_df.filter( (price_num_df.price_num < 100) & (price_num_df.review_scores_location > 4.5)) \
  .select('name', 'price', 'review_scores_location') \
  .show(truncate=False)

+--------------------------------------------------+------+----------------------+
|name                                              |price |review_scores_location|
+--------------------------------------------------+------+----------------------+
|Holiday London DB Room Let-on going               |$59.00|4.72                  |
|Double Room (Unavailable for check in 31Dec-1Jan) |$40.00|4.66                  |
|You are GUARANTEED to love this                   |$82.00|4.77                  |
|Room 1 Large Double Bedroom - front ground floor  |$55.00|5.0                   |
|SPACIOUS ROOM IN CONTEMPORARY STYLE FLAT          |$55.00|4.76                  |
|West London-W7, Hanwell(Area Ealing) Room (Female)|$37.00|4.64                  |
|West London,loft ensuite, 5min2tube               |$69.00|4.75                  |
|Charming Flat in Notting Hill                     |$94.00|4.87                  |
|Room with a view, shared flat,  central  Bankside |$86.00|4.86                  |
|You Will Save Money Here                          |$65.00|4.74                  |
|Quiet Comfortable Room in Fulham                  |$60.00|4.64                  |
|Room with a garden                                |$45.00|5.0                   |
|Pleasant Single Room in zone 1.                   |$59.00|4.76                  |
|Large Bedroom with EnSuite Bathroom               |$68.00|4.88                  |
|Cosy Double studio in Zone 2 Hammersmith (6)      |$87.00|4.9                   |
|Beautiful Small Studio Hammersmith                |$85.00|4.84                  |
|Close to Wimbledon All England Tennis -huge double|$85.00|5.0                   |
|Cosy Double studio in Zone 2 Hammersmith (1)      |$89.00|4.92                  |
|Cosy Double studio in Zone 2 Hammersmith (4)      |$89.00|4.91                  |
|Cosy Double studio in Zone 2 Hammersmith (3)      |$82.00|4.92                  |
+--------------------------------------------------+------+----------------------+
only showing top 20 rows

In [19]:
price_num_df.filter('price_num < 100 AND review_scores_location > 4.5') \
  .select('name', 'price', 'review_scores_location') \
  .show(truncate=False)

+--------------------------------------------------+------+----------------------+
|name                                              |price |review_scores_location|
+--------------------------------------------------+------+----------------------+
|Holiday London DB Room Let-on going               |$59.00|4.72                  |
|Double Room (Unavailable for check in 31Dec-1Jan) |$40.00|4.66                  |
|You are GUARANTEED to love this                   |$82.00|4.77                  |
|Room 1 Large Double Bedroom - front ground floor  |$55.00|5.0                   |
|SPACIOUS ROOM IN CONTEMPORARY STYLE FLAT          |$55.00|4.76                  |
|West London-W7, Hanwell(Area Ealing) Room (Female)|$37.00|4.64                  |
|West London,loft ensuite, 5min2tube               |$69.00|4.75                  |
|Charming Flat in Notting Hill                     |$94.00|4.87                  |
|Room with a view, shared flat,  central  Bankside |$86.00|4.86                  |
|You Will Save Money Here                          |$65.00|4.74                  |
|Quiet Comfortable Room in Fulham                  |$60.00|4.64                  |
|Room with a garden                                |$45.00|5.0                   |
|Pleasant Single Room in zone 1.                   |$59.00|4.76                  |
|Large Bedroom with EnSuite Bathroom               |$68.00|4.88                  |
|Cosy Double studio in Zone 2 Hammersmith (6)      |$87.00|4.9                   |
|Beautiful Small Studio Hammersmith                |$85.00|4.84                  |
|Close to Wimbledon All England Tennis -huge double|$85.00|5.0                   |
|Cosy Double studio in Zone 2 Hammersmith (1)      |$89.00|4.92                  |
|Cosy Double studio in Zone 2 Hammersmith (4)      |$89.00|4.91                  |
|Cosy Double studio in Zone 2 Hammersmith (3)      |$82.00|4.92                  |
+--------------------------------------------------+------+----------------------+
only showing top 20 rows

In [20]:
listings \
  .select(listings.property_type) \
  .distinct() \
  .show(truncate=False)

+----------------------------------+
|property_type                     |
+----------------------------------+
|Private room in lighthouse        |
|Private room in loft              |
|Private room in earthen home      |
|Entire chalet                     |
|Earthen home                      |
|Shared room in bus                |
|Farm stay                         |
|Entire rental unit                |
|Shared room in hostel             |
|Shared room                       |
|Private room in condo             |
|Room in boutique hotel            |
|Private room in religious building|
|Room in bed and breakfast         |
|Private room in casa particular   |
|Entire guesthouse                 |
|Private room in bungalow          |
|Entire cabin                      |
|Hut                               |
|Private room in nature lodge      |
+----------------------------------+
only showing top 20 rows

In [21]:
listings \
  .select(listings.property_type, listings.room_type) \
  .distinct() \
  .show(truncate=False)

+----------------------------------+---------------+
|property_type                     |room_type      |
+----------------------------------+---------------+
|Private room in casa particular   |Private room   |
|Room in hostel                    |Hotel room     |
|Dome                              |Entire home/apt|
|Entire serviced apartment         |Entire home/apt|
|Private room in loft              |Private room   |
|Shipping container                |Entire home/apt|
|Private room in villa             |Private room   |
|Farm stay                         |Entire home/apt|
|Room in hotel                     |Hotel room     |
|Shared room in rental unit        |Shared room    |
|Private room in guest suite       |Private room   |
|Room in rental unit               |Hotel room     |
|Room in serviced apartment        |Hotel room     |
|Private room in serviced apartment|Private room   |
|Private room in hostel            |Private room   |
|Shared room                       |Shared room    |
|Private room in yurt              |Private room   |
|Room in boutique hotel            |Private room   |
|Private room in shepherd's hut    |Private room   |
|Entire rental unit                |Entire home/apt|
+----------------------------------+---------------+
only showing top 20 rows

In [22]:
listings \
  .select(listings.property_type) \
  .distinct() \
  .write \
  .csv('data/property_types')

In [24]:
listings.printSchema()

root
 |-- id: long (nullable = true)
 |-- listing_url: string (nullable = true)
 |-- scrape_id: long (nullable = true)
 |-- last_scraped: date (nullable = true)
 |-- source: string (nullable = true)
 |-- name: string (nullable = true)
 |-- description: string (nullable = true)
 |-- neighborhood_overview: string (nullable = true)
 |-- picture_url: string (nullable = true)
 |-- host_id: integer (nullable = true)
 |-- host_url: string (nullable = true)
 |-- host_name: string (nullable = true)
 |-- host_since: date (nullable = true)
 |-- host_location: string (nullable = true)
 |-- host_about: string (nullable = true)
 |-- host_response_time: string (nullable = true)
 |-- host_response_rate: string (nullable = true)
 |-- host_acceptance_rate: string (nullable = true)
 |-- host_is_superhost: string (nullable = true)
 |-- host_thumbnail_url: string (nullable = true)
 |-- host_picture_url: string (nullable = true)
 |-- host_neighbourhood: string (nullable = true)
 |-- host_listings_count: integer (nullable = true)
 |-- host_total_listings_count: integer (nullable = true)
 |-- host_verifications: string (nullable = true)
 |-- host_has_profile_pic: string (nullable = true)
 |-- host_identity_verified: string (nullable = true)
 |-- neighbourhood: string (nullable = true)
 |-- neighbourhood_cleansed: string (nullable = true)
 |-- neighbourhood_group_cleansed: string (nullable = true)
 |-- latitude: double (nullable = true)
 |-- longitude: double (nullable = true)
 |-- property_type: string (nullable = true)
 |-- room_type: string (nullable = true)
 |-- accommodates: integer (nullable = true)
 |-- bathrooms: double (nullable = true)
 |-- bathrooms_text: string (nullable = true)
 |-- bedrooms: integer (nullable = true)
 |-- beds: integer (nullable = true)
 |-- amenities: string (nullable = true)
 |-- price: string (nullable = true)
 |-- minimum_nights: integer (nullable = true)
 |-- maximum_nights: integer (nullable = true)
 |-- minimum_minimum_nights: integer (nullable = true)
 |-- maximum_minimum_nights: integer (nullable = true)
 |-- minimum_maximum_nights: integer (nullable = true)
 |-- maximum_maximum_nights: integer (nullable = true)
 |-- minimum_nights_avg_ntm: double (nullable = true)
 |-- maximum_nights_avg_ntm: double (nullable = true)
 |-- calendar_updated: string (nullable = true)
 |-- has_availability: string (nullable = true)
 |-- availability_30: integer (nullable = true)
 |-- availability_60: integer (nullable = true)
 |-- availability_90: integer (nullable = true)
 |-- availability_365: integer (nullable = true)
 |-- calendar_last_scraped: date (nullable = true)
 |-- number_of_reviews: integer (nullable = true)
 |-- number_of_reviews_ltm: integer (nullable = true)
 |-- number_of_reviews_l30d: integer (nullable = true)
 |-- first_review: date (nullable = true)
 |-- last_review: date (nullable = true)
 |-- review_scores_rating: double (nullable = true)
 |-- review_scores_accuracy: double (nullable = true)
 |-- review_scores_cleanliness: double (nullable = true)
 |-- review_scores_checkin: double (nullable = true)
 |-- review_scores_communication: double (nullable = true)
 |-- review_scores_location: double (nullable = true)
 |-- review_scores_value: double (nullable = true)
 |-- license: string (nullable = true)
 |-- instant_bookable: string (nullable = true)
 |-- calculated_host_listings_count: integer (nullable = true)
 |-- calculated_host_listings_count_entire_homes: integer (nullable = true)
 |-- calculated_host_listings_count_private_rooms: integer (nullable = true)
 |-- calculated_host_listings_count_shared_rooms: integer (nullable = true)
 |-- reviews_per_month: double (nullable = true)

In [25]:
# 1. Get a non-null picture URL for any property ("picture_url" field)
# Select any non-null picture URL
listings.filter(
    listings.picture_url.isNotNull()
) \
.select('picture_url') \
.limit(1) \
.show(truncate=False)

+------------------------------------------------------------------------------------------------------+
|picture_url                                                                                           |
+------------------------------------------------------------------------------------------------------+
|https://a0.muscache.com/pictures/miso/Hosting-13913/original/d755aa6d-cebb-4464-80be-2722c921e8d5.jpeg|
+------------------------------------------------------------------------------------------------------+

In [26]:
# 2. Get number of properties that get more than 10 reviews per month
listings.filter(
  listings.reviews_per_month > 10
) \
.count()

66

In [27]:
listings.filter(
    (listings.bathrooms > listings.bedrooms)
) \
.select('name', 'bathrooms', 'bedrooms') \
.show(10, truncate=False)

+--------------------------------------------------+---------+--------+
|name                                              |bathrooms|bedrooms|
+--------------------------------------------------+---------+--------+
|Battersea live/work artist house, garden & parking|1.5      |1       |
|West London-W7, Hanwell(Area Ealing) Room (Female)|1.5      |1       |
|West London,loft ensuite, 5min2tube               |1.5      |1       |
|Large Bedroom with EnSuite Bathroom               |1.5      |1       |
|Cosy Double studio in Zone 2 Hammersmith (1)      |1.5      |1       |
|Shoreditch Loft                                   |1.5      |1       |
|Five minute walk to South Bank                    |1.5      |1       |
|Designer room Park Views 4 mins zone 1 station    |1.5      |1       |
|Cosy Double room London, River View               |1.5      |1       |
|Maisonette in Central London Zone 1               |1.5      |1       |
+--------------------------------------------------+---------+--------+
only showing top 10 rows

In [28]:
# 4. Get properties where the price is greater than 5,000. Collect the result as a Python list
from pyspark.sql.functions import regexp_replace

listings_with_price = listings \
  .withColumn('price_numeric', regexp_replace('price', '[$,]', '').cast('float'))

res = listings_with_price.filter(
    (listings_with_price.price_numeric > 5000)
) \
.select('name', 'price') \
.collect()

res

[Row(name='Bright ,Modern, 12m to Bond street.', price='$5,500.00'),
 Row(name='Room in a cosy flat. Central, clean', price='$8,000.00'),
 Row(name='3 Bed Flat in South Hampstead with Large Garden!', price='$25,000.00'),
 Row(name='Spacious Private Ground Floor Room', price='$7,693.00'),
 Row(name='No Longer Available', price='$53,588.00'),
 Row(name='Very nice double room in the heart of Soho', price='$5,100.00'),
 Row(name='Knightsbridge Penthouse', price='$8,895.00'),
 Row(name='Luxury 5-star Flat with Art & Tech', price='$6,276.00'),
 Row(name='The Apartments by The Sloane Club, L 2 Bedroom Apt', price='$7,589.00'),
 Row(name='The Apartments by The Sloane Club, One Bedroom Apt', price='$7,589.00'),
 Row(name='Great Apartment next to Sloane Square', price='$6,250.00'),
 Row(name='Lovely Private double room at zone 2 Holloway Road', price='$5,147.00'),
 Row(name='Kensington- Luxury 2 bedroom ground floor flat', price='$8,000.00'),
 Row(name='Single room. 7ft x 9ft - Over looking garden', price='$6,000.00'),
 Row(name='Close To London Eye (HED)', price='$75,000.00'),
 Row(name='CLOSE TO LONDON EYE (CHECZ)', price='$75,000.00'),
 Row(name='Stunning  Renovated Townhouse in Pretty Square', price='$60,000.00'),
 Row(name='Semi-detached mews house in Knightsbridge.', price='$7,000.00'),
 Row(name='Beautiful 2 BR flat in Kilburn with free parking', price='$6,000.00'),
 Row(name='Affordable Spacious  Room on the edge of the city', price='$6,000.00'),
 Row(name='—', price='$20,000.00'),
 Row(name='Hyde Park Suite', price='$6,545.00'),
 Row(name='Serpentine Suite', price='$5,645.00'),
 Row(name='City Suite', price='$6,245.00'),
 Row(name='Westminster Suite', price='$5,945.00'),
 Row(name='The Presidential - 6 bed - stunning elegance', price='$6,000.00'),
 Row(name='Kensington Penthouse', price='$9,395.00'),
 Row(name='Mayfair Penthouse', price='$8,895.00'),
 Row(name='Foxter Properties Chelsea', price='$12,000.00'),
 Row(name='Close To London Eye', price='$8,000.00'),
 Row(name='1. V02 Large Apartment; next to Piccadilly Circus!', price='$6,400.00'),
 Row(name='Prestige Paddington 2 Bed', price='$5,720.00'),
 Row(name='Room In Zone 1 (TOB)', price='$80,000.00'),
 Row(name='Villa Almas Mayfair.', price='$5,400.00'),
 Row(name='𝐕𝐢𝐥𝐥𝐚 𝐄𝐦𝐞𝐫𝐚𝐥𝐝 𝐌𝐞𝐰𝐬', price='$5,364.00'),
 Row(name='Close To London Bridge', price='$80,000.00'),
 Row(name='CentralLondon Luxury for 5! 1Min from Paddington', price='$9,680.00'),
 Row(name='Home Guest', price='$6,033.00'),
 Row(name='20% Off Monthly Business Relocation Stays Belsize', price='$15,000.00'),
 Row(name='Ultra Luxe 4 Bed flat in Mayfair', price='$6,000.00'),
 Row(name='Short Walk To London Eye (SUR)', price='$71,000.00'),
 Row(name='London luxury.', price='$12,000.00'),
 Row(name='Short Walk to London Eye (HON)', price='$50,000.00'),
 Row(name='The Artists House', price='$16,564.00'),
 Row(name='Luxury Grade II Listed Mansion', price='$9,000.00'),
 Row(name='best place to be to relax', price='$6,248.00'),
 Row(name='Modern apartment Central London', price='$9,900.00')]

In [29]:
# 5. Get a list of properties with the following characteristics:
# * price < 150
# * more than 20 reviews
# * review_scores_rating > 4.5
# Consider using the "&" operator

listings_with_price.filter(
    (listings_with_price.price_numeric < 150) &
    (listings_with_price.number_of_reviews > 20) &
    (listings_with_price.review_scores_rating > 4.5)
  ) \
.select('name', 'price_numeric', 'number_of_reviews', 'review_scores_rating') \
.show(truncate=False)

+--------------------------------------------------+-------------+-----------------+--------------------+
|name                                              |price_numeric|number_of_reviews|review_scores_rating|
+--------------------------------------------------+-------------+-----------------+--------------------+
|Holiday London DB Room Let-on going               |59.0         |44               |4.82                |
|Bright Chelsea  Apartment. Chelsea!               |120.0        |96               |4.8                 |
|Double Room (Unavailable for check in 31Dec-1Jan) |40.0         |38               |4.89                |
|A stylish Victorian home in West London           |131.0        |91               |4.85                |
|I Bedroom flat Tower of London                    |145.0        |248              |4.9                 |
|You are GUARANTEED to love this                   |82.0         |691              |4.86                |
|SPACIOUS ROOM IN CONTEMPORARY STYLE FLAT          |55.0         |55               |4.96                |
|West London-W7, Hanwell(Area Ealing) Room (Female)|37.0         |117              |4.79                |
|West London,loft ensuite, 5min2tube               |69.0         |187              |4.7                 |
|A double Room 5mins from King's College Hospital  |55.0         |99               |4.73                |
|Charming Flat in Notting Hill                     |94.0         |247              |4.74                |
|Room with a view, shared flat,  central  Bankside |86.0         |128              |4.69                |
|You Will Save Money Here                          |65.0         |591              |4.89                |
|Quiet Comfortable Room in Fulham                  |60.0         |245              |4.72                |
|Beautiful 1 bed apt in Queens Park                |130.0        |134              |4.87                |
|Pleasant Single Room in zone 1.                   |59.0         |458              |4.81                |
|Large Bedroom with EnSuite Bathroom               |68.0         |298              |4.66                |
|Cosy Double studio in Zone 2 Hammersmith (6)      |87.0         |170              |4.69                |
|Beautiful Small Studio Hammersmith                |85.0         |201              |4.71                |
|Cosy Double studio in Zone 2 Hammersmith (1)      |89.0         |136              |4.71                |
+--------------------------------------------------+-------------+-----------------+--------------------+
only showing top 20 rows

In [30]:
# 7. Get the highest listing price in this dataset
# Consider using the "max" function from "pyspark.sql.functions"

from pyspark.sql.functions import max


listings_with_price \
  .select(max('price_numeric')) \
  .show()

+------------------+
|max(price_numeric)|
+------------------+
|           80000.0|
+------------------+

In [31]:
res = listings_with_price \
  .select(max('price_numeric').alias('max_price')) \
  .collect()


max_price = res[0]['max_price']
max_price

80000.0

In [32]:
from pyspark.sql.functions import year

listings.filter(
    year(listings.first_review) == 2024
) \
.select('name', 'first_review') \
.show(10, truncate=False)

+--------------------------------------------------+------------+
|name                                              |first_review|
+--------------------------------------------------+------------+
|Close to Wimbledon All England Tennis -huge double|2024-08-11  |
|one Double bed room with en-suite facilities      |2024-03-21  |
|Double Room for one -Herne Hill Zone 2/3Thameslink|2024-05-26  |
|Apartment in Southwark - Private living room      |2024-07-09  |
|Sm double room  with own bathroom                 |2024-06-04  |
|Superlux flat in Knightsbridge                    |2024-01-01  |
|Luxurious Flat in South Kensington                |2024-06-19  |
|The Pink House, Notting Hill                      |2024-07-14  |
|Superior Single Room (En-suite)                   |2024-06-21  |
|Charming flat in Tufnell Park                     |2024-04-28  |
+--------------------------------------------------+------------+
only showing top 10 rows

In [33]:
listings.printSchema()

root
 |-- id: long (nullable = true)
 |-- listing_url: string (nullable = true)
 |-- scrape_id: long (nullable = true)
 |-- last_scraped: date (nullable = true)
 |-- source: string (nullable = true)
 |-- name: string (nullable = true)
 |-- description: string (nullable = true)
 |-- neighborhood_overview: string (nullable = true)
 |-- picture_url: string (nullable = true)
 |-- host_id: integer (nullable = true)
 |-- host_url: string (nullable = true)
 |-- host_name: string (nullable = true)
 |-- host_since: date (nullable = true)
 |-- host_location: string (nullable = true)
 |-- host_about: string (nullable = true)
 |-- host_response_time: string (nullable = true)
 |-- host_response_rate: string (nullable = true)
 |-- host_acceptance_rate: string (nullable = true)
 |-- host_is_superhost: string (nullable = true)
 |-- host_thumbnail_url: string (nullable = true)
 |-- host_picture_url: string (nullable = true)
 |-- host_neighbourhood: string (nullable = true)
 |-- host_listings_count: integer (nullable = true)
 |-- host_total_listings_count: integer (nullable = true)
 |-- host_verifications: string (nullable = true)
 |-- host_has_profile_pic: string (nullable = true)
 |-- host_identity_verified: string (nullable = true)
 |-- neighbourhood: string (nullable = true)
 |-- neighbourhood_cleansed: string (nullable = true)
 |-- neighbourhood_group_cleansed: string (nullable = true)
 |-- latitude: double (nullable = true)
 |-- longitude: double (nullable = true)
 |-- property_type: string (nullable = true)
 |-- room_type: string (nullable = true)
 |-- accommodates: integer (nullable = true)
 |-- bathrooms: double (nullable = true)
 |-- bathrooms_text: string (nullable = true)
 |-- bedrooms: integer (nullable = true)
 |-- beds: integer (nullable = true)
 |-- amenities: string (nullable = true)
 |-- price: string (nullable = true)
 |-- minimum_nights: integer (nullable = true)
 |-- maximum_nights: integer (nullable = true)
 |-- minimum_minimum_nights: integer (nullable = true)
 |-- maximum_minimum_nights: integer (nullable = true)
 |-- minimum_maximum_nights: integer (nullable = true)
 |-- maximum_maximum_nights: integer (nullable = true)
 |-- minimum_nights_avg_ntm: double (nullable = true)
 |-- maximum_nights_avg_ntm: double (nullable = true)
 |-- calendar_updated: string (nullable = true)
 |-- has_availability: string (nullable = true)
 |-- availability_30: integer (nullable = true)
 |-- availability_60: integer (nullable = true)
 |-- availability_90: integer (nullable = true)
 |-- availability_365: integer (nullable = true)
 |-- calendar_last_scraped: date (nullable = true)
 |-- number_of_reviews: integer (nullable = true)
 |-- number_of_reviews_ltm: integer (nullable = true)
 |-- number_of_reviews_l30d: integer (nullable = true)
 |-- first_review: date (nullable = true)
 |-- last_review: date (nullable = true)
 |-- review_scores_rating: double (nullable = true)
 |-- review_scores_accuracy: double (nullable = true)
 |-- review_scores_cleanliness: double (nullable = true)
 |-- review_scores_checkin: double (nullable = true)
 |-- review_scores_communication: double (nullable = true)
 |-- review_scores_location: double (nullable = true)
 |-- review_scores_value: double (nullable = true)
 |-- license: string (nullable = true)
 |-- instant_bookable: string (nullable = true)
 |-- calculated_host_listings_count: integer (nullable = true)
 |-- calculated_host_listings_count_entire_homes: integer (nullable = true)
 |-- calculated_host_listings_count_private_rooms: integer (nullable = true)
 |-- calculated_host_listings_count_shared_rooms: integer (nullable = true)
 |-- reviews_per_month: double (nullable = true)

In [34]:
listings.select('first_review').show(10, truncate=False)

+------------+
|first_review|
+------------+
|2010-08-18  |
|2009-12-21  |
|2011-03-21  |
|2010-11-15  |
|2010-10-16  |
|2013-07-06  |
|2012-01-04  |
|2011-07-03  |
|NULL        |
|2011-08-29  |
+------------+
only showing top 10 rows

In [35]:
listings \
  .groupby(listings.property_type) \
  .count() \
  .show(truncate=False)

+----------------------------------+-----+
|property_type                     |count|
+----------------------------------+-----+
|Private room in lighthouse        |2    |
|Private room in loft              |171  |
|Private room in earthen home      |3    |
|Entire chalet                     |4    |
|Earthen home                      |2    |
|Shared room in bus                |1    |
|Farm stay                         |4    |
|Entire rental unit                |39372|
|Shared room in hostel             |59   |
|Shared room                       |4    |
|Private room in condo             |3515 |
|Room in boutique hotel            |239  |
|Private room in religious building|4    |
|Room in bed and breakfast         |24   |
|Private room in casa particular   |86   |
|Entire guesthouse                 |228  |
|Private room in bungalow          |64   |
|Entire cabin                      |39   |
|Hut                               |2    |
|Private room in nature lodge      |2    |
+----------------------------------+-----+
only showing top 20 rows

In [36]:
import pyspark.sql.functions as F

listings \
  .groupby(listings.property_type) \
  .agg(
    F.count('property_type').alias('count')
  ) \
  .orderBy('count', ascending=[False]) \
  .show(truncate=False)

+----------------------------------+-----+
|property_type                     |count|
+----------------------------------+-----+
|Entire rental unit                |39372|
|Private room in rental unit       |14837|
|Private room in home              |11835|
|Entire condo                      |8800 |
|Entire home                       |8756 |
|Private room in condo             |3515 |
|Entire serviced apartment         |1852 |
|Private room in townhouse         |1294 |
|Entire townhouse                  |1123 |
|Room in hotel                     |783  |
|Private room in bed and breakfast |486  |
|Entire loft                       |367  |
|Private room in guesthouse        |316  |
|Room in boutique hotel            |239  |
|Entire guesthouse                 |228  |
|Shared room in rental unit        |191  |
|Entire guest suite                |181  |
|Private room in guest suite       |178  |
|Private room in loft              |171  |
|Private room in serviced apartment|144  |
+----------------------------------+-----+
only showing top 20 rows

In [37]:
listings \
  .groupby(listings.property_type) \
  .agg(
    F.count('property_type').alias('count'),
    F.avg('review_scores_location')
  ) \
  .orderBy('count', ascending=[False]) \
  .show(truncate=False)

+----------------------------------+-----+---------------------------+
|property_type                     |count|avg(review_scores_location)|
+----------------------------------+-----+---------------------------+
|Entire rental unit                |39372|4.72794867465818           |
|Private room in rental unit       |14837|4.732797964376552          |
|Private room in home              |11835|4.6990531037827195         |
|Entire condo                      |8800 |4.763906656266228          |
|Entire home                       |8756 |4.722269211782102          |
|Private room in condo             |3515 |4.7656638325703            |
|Entire serviced apartment         |1852 |4.7218975332068345         |
|Private room in townhouse         |1294 |4.75918656056587           |
|Entire townhouse                  |1123 |4.812793814432991          |
|Room in hotel                     |783  |4.649164619164618          |
|Private room in bed and breakfast |486  |4.7173976608187145         |
|Entire loft                       |367  |4.798854489164088          |
|Private room in guesthouse        |316  |4.62233606557377           |
|Room in boutique hotel            |239  |4.7095652173913045         |
|Entire guesthouse                 |228  |4.703333333333332          |
|Shared room in rental unit        |191  |4.690833333333334          |
|Entire guest suite                |181  |4.746829268292678          |
|Private room in guest suite       |178  |4.782962962962964          |
|Private room in loft              |171  |4.7570802919708015         |
|Private room in serviced apartment|144  |4.613510638297872          |
+----------------------------------+-----+---------------------------+
only showing top 20 rows

In [38]:
reviews = spark.read.csv("data/reviews.csv.gz",
    header=True,
    inferSchema=True,
    sep=",",
    quote='"',
    escape='"',
    multiLine=True,
    mode="PERMISSIVE"
)

In [39]:
listings_reviews = listings.join(
    reviews, listings.id == reviews.listing_id, how='inner'
)

In [42]:
reviews_per_listing = listings_reviews \
  .groupBy(listings.id, listings.name) \
  .agg(
    F.count(reviews.id).alias('num_reviews')
  ) \
  .orderBy('num_reviews', ascending=False) \
  .show(truncate=False)

+--------+--------------------------------------------------+-----------+
|id      |name                                              |num_reviews|
+--------+--------------------------------------------------+-----------+
|30760930|Double Garden View room - London House Hotel***   |1682       |
|47408549|Double Room+ Ensuite                              |1650       |
|43120947|Private double room with en suite facilities      |1553       |
|19670926|Designer Studio Apartment in Central London       |1382       |
|1436172 |Cosy Double in Kings Cross Houseshare nr Eurostar |1134       |
|45006692|Budget Double Room In Colliers Hotel.             |1132       |
|2126708 |London's best transport hub 5 mins walk! Safe too!|1071       |
|1436177 |En-suite Double in Kings Cross Houseshare Eurostar|943        |
|3855375 |Double in Kings Cross Houseshare nr Eurostar      |935        |
|2659707 |Large Room + Private Bathroom, E3.                |893        |
|42081759|Micro Studio at Locke at Broken Wharf             |880        |
|46233904|Superior Studio, avg size 23.5 msq                |879        |
|47438714|KX Basic- Small Double- shared bathroom           |877        |
|4748665 |Single bedroom near London Stratford              |868        |
|14518189|Cellar room with Shared Bathroom & Toilet         |866        |
|5266466 |Large London Room, Private Bathroom & Breakfast   |831        |
|27833488|S - Heathrow Airport Terminal 2 3 4 5 Hatton Cross|793        |
|2025844 |No PARTYING. Family Friendly Central London Flat  |790        |
|4332039 |Single bedroom in old East London                 |764        |
|5869526 |Beautiful studio loft room ensuite                |749        |
+--------+--------------------------------------------------+-----------+
only showing top 20 rows